{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
<style>
textarea { width: 200px; height: 60px; }
</style>
	<h1>Projects</h1>
	
	Create new project
	<form method="POST">
		<table>{{ form }}</table>
		<input type="submit" value="Create">
	</form>
	
	Or pick from existing:
	<div>
	{% for proj in projects %}
		<a href="./?pick={{ proj.pk }}"><strong>{{ proj }}</strong></a><br>
	{% empty %}
		No projects
	{% endfor %}
	</div>

{% endblock content %}