.field-line {
	width: 740px;
}

.field-line .field {
	float: left;
}

.f_name {
 	width: 200px;
}

.f_type {
	width: 200px;
}

.f_relation {
	width: 200px;
}


.f_null, .f_blank, .f_unique, .f_DELETE {
	width: 20px;
}
.f_DELETE {
	width: 30px !important;
	padding-left: 10px;
}

.handle {
	cursor: move;
	float: left;
}

.attrs_popup {
	position: absolute;
	left: 200px;
	background-color: lightgray;
	display: none;
	height: 300px;
	overflow: scroll;
	cursor: default !important;
}




