<script>
$(function(){
	new_model_form();
	$('.model-list a.deletelink').click(function() {
		if (!confirm('Delete this model?'))
			return false;
		var link = $(this)
		$.get($(this).attr('href'), function(data){
			link.parent().parent().fadeOut('fast')
		}, 'json');
		return false;
	});
})
</script>

{{ request.project }} > {{ application }}

<h1>{{ application }}</h1>
<a href="{% url app-models-code application.pk %}" class="ajaxbox">Get code</a>

<br><br>


<a href="#" id="add_model" class="addlink">Add model</a>

<div style="display: none;" id="add_model_form">
	<form method="POST" action="{% url new-model application.pk %}">
		<input type="text" name="name">
		<input type="submit" value="Save">
	</form>
</div>



<table class="model-list">
<tr>
	<th>Model</th>
	<th>Comments</th>
	<th> </th>
	<th> </th>
</tr>
{% for model in application.model_set.all %}
<tr>
	<td><a href="{% url edit-model model.pk %}" class="ajax changelink">{{ model.name }}</a></td>
	<td>{{ model.comments }}</td>
	<td><a href="{% url model-code model.pk %}" class="ajaxbox">Code</a></td>
	<td><a href="{% url delete-model model.pk %}" class="deletelink">Delete</a> </td>
</tr>
{% endfor %}
<table>